<!-- <p>building-page works!</p> -->
<section >
  <div class="body--building">
    <div class="body--buildingbody">
      <h1>Muy pronto...!</h1>
      <h2>Estamos construyendo el mejor sitio multi productos y servicios para Ti.</h2>
      <h3>¿Estas listo para vivir la experiencia?</h3>

      <div class="body--dotzhaName">
        <img name="dotzhaRobot" src="https://lh3.googleusercontent.com/pw/AIL4fc-d1qRHzpGzooVLKUM-fNr0zTKIVKZucJNbkA4CLobq_2K6Faga4aUG2E4S1Tjd-1z1Fkw6IiOxHSsd2pMlfp2_qo-R4QpPOuEGZmSsKs2nM3fY=w2400" alt="Dotzha Grupo building">
        <div>
          <img name="dotzhaName" src="../../../assets/images/building-maintenance/dotzha_Name.svg" alt="Dotzha Grupo name">
          <p>G R U P O</p>
        </div>
      </div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="nav--building">
      <button mat-fab color="white">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>


</section>


