<!-- <p>building-page works!</p> -->
<section class="sec--Build">
  <div class="body--building">
    <div class="body--buildingbody">
      <h1>Proximamente...!</h1>
      <h2>Estamos construyendo el mejor sitio multi productos y servicios para Ti.</h2>
      <h3>¿Estas listo para vivir la experiencia?</h3>

      <div class="gd_companies">        
        <app-cards></app-cards>
      </div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div class="body--dotzhaName">
        <img name="dotzhaRobot" src="https://lh3.googleusercontent.com/pw/AP1GczNhe4OcKtQ7xVSsz-ndNmHKaN9vX3YScPCc1JQR9pkF6C1_CRIy_xstaWb3KIq1A60mLVG6DddVIBKFglSxxkqr8GMCCR2TghQJ08CNxmmylA48iJdh=w2400" alt="Dotzha Grupo building">
        <!-- <img name="dotzhaRobot" src="https://lh3.googleusercontent.com/pw/AIL4fc80fP4uTtbB_OSeWWqwaZ8tAgGzNbkUabBy4c5QgQ7IweilFZ9CmVA9tJgePK4Srgm7_ONCjjzgi8MOh39xe_feHZya-wBs2JdS_omzitAtFvRsSg=w2400" alt="Dotzha Grupo building"> -->
       
        <div>
          <!-- <img name="dotzhaName" src="../../../assets/images/building-maintenance/dotzha_Name.svg" alt="Dotzha Grupo name"> -->
          <!-- <img name="dotzhaName" src="https://drive.google.com/file/d/1xcIzoxRJCzRs3_KLawVXUDbnUFq9lEFR/view?usp=drive_link" alt="Dotzha Grupo name"> -->
          <!-- <img name="dotzhaName" src="https://svgshare.com/i/vmH.svg" alt="Dotzha Grupo name"> -->
          <!-- <img name="dotzhaName" src="/public/building-maintenance/dotzha_Name.svg" alt="Dotzha Grupo name"> -->
          <div class="icon-class">
            <mat-icon
              svgIcon="dotzha-name"
              class="icon-class"
              aria-label="some-icon"
              [inline]="true">
            </mat-icon>
            <!-- <p>G R U P O</p> -->
          </div>
          
        </div>
      </div>
      
    </div>
    
    <div class="nav--building">
      <button mat-fab color="white" [routerLink]="['/dotzha/login']">
        <mat-icon>fingerprint</mat-icon>
      </button>
    </div>
  </div>


</section>

